@model ORCA30523.Models.Ticket

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:#079449;">Delete</h2>
<p>
    Are you sure you would like to delete this message?
</p>
<ul style="background-color:white">
    <li>To: @Model.ToEmail</li>
    <li>From: @Model.FromEmail</li>
    <li>Date: @Model.DatePosted</li>
</ul>
@using (Html.BeginForm("DoDelete", "Ticket", FormMethod.Post))
{
    @Html.HiddenFor(m => m.ID)
    <input type="submit" class="btn btn-danger" value="Yes, Delete it!" />
    @Html.ActionLink("No, back to messages", "Index")
}