@model IEnumerable<ORCA30523.Models.Ticket>
@{
    ViewBag.Title = "Details";
}

<h2 style="color:#079449;">Details</h2>
<div>
    <h4>Message.</h4>
    <hr />
    </div>
@if (Model != null)
{
    foreach (var message in Model)
    {
    <dl class="dl-horizontal" style="width:100%">
        <dt style="width: 100%; text-align:center;">
            From: @message.FromEmail
        </dt>
        <dt style="width: 100%; text-align:center;">
            To: @message.ToEmail 
        </dt>
        <dt style="width: 100%; text-align:center;">
            Subject: @message.Subject 
        </dt>
        <dt style="width: 100%; text-align:center;">
            Body: @message.Body 
        </dt>
        <dt style="width: 100%; text-align:center;">
            Sent: @message.DatePosted 
        </dt>
        <dt style="width: 100%; text-align:center;">
            ---------------------------------------------------------------------- 
        </dt> 
    </dl>
    }
}
    @*@Html.ActionLink("Back to List", "Index")*@