@model ORCA30523.Models.Ticket
@{
    ViewBag.Title = "Details";
}

<h2 style="color:#079449;">Details</h2>
<div>
    <h4>Message.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FromEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FromEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ToEmail) 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ToEmail) 
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject) 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject) 
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body) 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body) 
        </dd> 
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>